
@media screen and (max-width: 1150px) {
    div.form-wrapper{
        width: 80%;
    }
    .calculated-result h2{
        font-size: 30px;
    }
    .calculated-result p{
        font-size: 18px;
    }
    .calculated-result p:last-child{
        font-size: 20px;
        
    }
    .contactus{
        width: 60%;
    }
}
@media screen and (max-width: 700px) {
    div.form-wrapper{
        width: 90%;
    }
    form h2{
        font-size: 30px;
    }
    form label{
        font-size: 20px;
        font-weight: bold;
    }
    .calculated-result{
        padding: 40px 10px;
    }
    .calculated-result h2{
        font-size: 20px;
    }
    .calculated-result p{
        font-size: 19px;
    }
    .calculated-result p:last-child{
        font-size: 20px;
        
    }
    .contactus{
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .selection-wrapper label{
        font-size: 24px;
    }
    .selection-wrapper select{
    font-size: 18px;

    }
    div.form-wrapper{
        width: 99%;  
    }
    div.sell-form form,div.buy-form form{
        padding: 0px;
    }
    form input{
        padding: 5px 4px;
        margin: 3px 0;
        font-size: 18px;
        margin-bottom: 10px;
    }
    form input::placeholder{
        font-size: 18px;
    }
    select#tax{
        font-size: 16px;
        width: 100px;
    }
    form .btn-wrapper{
        text-align: center;
    }
    .calculated-result{
        padding: 40px 10px;
    }
    .contactus{
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    header{
        padding: 10px;
    }
    header nav div.logo h1{
        font-size: 25px;
    }
    div.menu-wrapper{
       position: absolute;
       z-index: 99;
        top: 0;
        right: 0;
        height: 100vh;
        background: #0000004d;
        padding: 20px 0;

    }
    div.menu-wrapper ul{
        flex-direction: column;
    }

}