*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #202020;
}
header nav{
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div.logo h1{
    color: #fff;
    font-size:30px;
    text-decoration: none;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
nav ul li{
    list-style: none;
    padding: 0 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
}
nav ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background:#fff;
    transition: width 0.2s ease-in-out;
}
nav ul li:hover a::before{
    width: 100%;

}